* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
}
body {
    background-color: #020659 ;
}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    font-variant: small-caps;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ ul .muzak-maker {
    margin-top: 20px;
    position: relative;
    font-variant: small-caps;
    font-size: 1.5rem;    
}

input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
.container {
   
    margin: 10px 10px 0px 10px;
    padding: 10px;
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.menu-container {
    background-color: #030A8C;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}


.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.menu li {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}


.menu li:hover {
    background-color: #590242;
    cursor: pointer;
}

/* Hamburger icon styles */
.menu-icon {
    cursor: pointer;
}

.banner {
    margin: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background: rgb(33,4,217);
    background: linear-gradient(45deg, rgba(33,4,217,1) 7%, rgba(14,2,91,1) 32%, rgba(10,1,68,1) 66%, rgba(0,0,0,1) 100%);
}
.container .banner h2,
.container .banner p {
    margin: 10px 20px 0px 10px;
}

 h2 {
    font-variant: small-caps;
}
.section {
    display: inline-block; 
    vertical-align: top; 

}

#trending, #playlists, #curated {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#trending h2 {
    font-size: 1.0rem;
    padding-top: 10px;
    padding-left: 20px;
}


.song-container {
    display: flex;
    gap: 8px;
    height: 100%;
    padding: 10px;
    width: 100%;
    overflow-x: auto;
    
}

article {
    min-width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.song{
    
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 170px; 
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

audio {
    margin: auto;
    width: 90%;
    height: 15%;
    top: 0;
    left: 0;
}

.song-detals{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #c7c3c3;
    padding-left: 0.2rem;
    font-size: .7rem;
    opacity: .7;
}

button{
    color: #fff;
    width: 100px;
    background: #590242;
    margin: 10px;
    border-radius: .2rem;
}

section h2 {
    background: #ffffff;
    width: 100%;
}

.playlists-container {
    
    display: flex;
    flex-direction: column;
    width: full;
    
}

.playlists {
background:#2699fb ;
width: 100%;
}
.curated{
    background: #030A8C;
    width: 100%;
}


.playlists article {
    background: #0D8DFB;
    display: flex;
    min-height: 150px;
    flex-direction:column ;
    justify-content: space-evenly;
    color: #fff;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    
}


.curated article {
    background: #020659;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    min-height: 160px;
    color: #fff;
    padding: 10px;
    margin: 10px 0px 10px 10px;
   
}


article img {
    width: 100px;
}

.playlists-container h2 {
    padding: 0px 0px 5px 20px;
}
.playlists article div, .curated article div  {
    opacity: .8;
    width: 100%;
    word-wrap: break-word;    
}

.articles-container {
    max-height: 50vh;
    display: flex;
    overflow-x: auto;
}

.button-container {
    height: 50px;
    background: #fff;
    position: sticky;
  
}

footer {
    height: 30px;
    background:#fff ;
    color: #000000;
    padding: 0;
    margin: 0px 10px 0px 10px;
    text-align: center;
    text-justify: auto;
    bottom: 0;
}

#playlists-container article {
    min-width: 50%;
}


@media screen and (max-width:834px) {
    .muzak-maker {
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-variant: small-caps;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        z-index: 1000;
        width: 90vw;
    }
    label span, input {
        display: none;
    }
    .menu {
        max-height: 500px;
        display: flex;
        flex-direction: row;
        min-width: 90vw;
        justify-content: space-between;
        align-items: center;
        
    }
    .muzak-maker {

        font-weight: bold;
        font-variant: small-caps;
        font-size: 1.5rem;
    }
   
    .button {     
        margin-left: auto;
      
    }
    
    .articles-container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    .curated article, .playlists article {
        display: flex;
        flex-direction:row ;
        padding: 0px;
        min-height: 120px;
    }
    .playlists-container {
        display: flex;
        flex-direction: row;      
    }
    
}

#articles-container::-webkit-scrollbar {
    width: 12px;
}

#articles-container::-webkit-scrollbar-track {
    background-color: #590242;
}

#articles-container::-webkit-scrollbar-thumb {
    background-color: #590242;
    border-radius: 6px;
}

#trending::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#playlists::-webkit-scrollbar,
#curated::-webkit-scrollbar {
    width: 12px;
}

#playlists::-webkit-scrollbar-track,
#curated::-webkit-scrollbar-track {
    background-color: #590242;
}

#playlists::-webkit-scrollbar-thumb,
#curated::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#playlists::-webkit-scrollbar-thumb:hover,
#curated::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

